AI Support Agent - WhatsApp.json
{
  "name": "AI Support Agent - WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b464bf2f-138e-4838-bc5b-9b4eb466c177",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "a74a9e32-553c-482d-b789-b1bd80335d91",
      "name": "Webhook",
      "webhookId": "b464bf2f-138e-4838-bc5b-9b4eb466c177"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "582f2b55-4a93-4fae-aeb2-1841b6884c51",
              "leftValue": "={{ $json.body.Body.toLowerCase() }}",
              "rightValue": "refund",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        224,
        0
      ],
      "id": "b85d2af8-dfa4-4578-b0ec-357479fee7c7",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=YOUR_GEMINI_API_KEY_HERE",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"You are a helpful customer support assistant. Reply concisely and politely to this customer message: {{ $json.body.Body }}\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        448,
        96
      ],
      "id": "95af8eca-e482-4eed-9353-178f49c48bda",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/YOUR_TWILIO_ACCOUNT_SID/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "To",
              "value": "whatsapp:+923143203971"
            },
            {
              "name": "From",
              "value": "whatsapp:+14155238886"
            },
            {
              "name": "=Body",
              "value": "={{ $json.candidates[0].content.parts[0].text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        672,
        96
      ],
      "id": "1cde1445-cc1b-4003-8bd5-4940a36bccf4",
      "name": "HTTP Request1",
      "credentials": {
        "httpBasicAuth": {
          "id": "IWPZnzoPfCmt1K0H",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0BJ0SL7L13",
          "mode": "list",
          "cachedResultName": "escalations"
        },
        "text": "=🚨 Escalation needed! Customer: {{ $json.body.From }} Message: {{ $json.body.Body }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        448,
        -96
      ],
      "id": "e49add34-b695-4263-85f2-2f14937bdc94",
      "name": "Send a message",
      "webhookId": "401a0e2c-7014-4b1a-9ed7-b9d2268c65af",
      "credentials": {
        "slackApi": {
          "id": "5XEP8AQnletn9uoP",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1B0rk7CMV68Rd2Y8KgHEMBaFMyQh7dzV6V7LqsNOylvE",
          "mode": "list",
          "cachedResultName": "AI Support Agent Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1B0rk7CMV68Rd2Y8KgHEMBaFMyQh7dzV6V7LqsNOylvE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1B0rk7CMV68Rd2Y8KgHEMBaFMyQh7dzV6V7LqsNOylvE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now }}",
            "Customer": "{{ $json.body.From }}",
            "Message": "={{ $json.body.Body }}",
            "Type": "=Escalated",
            "AI Response": "=N/A - Human handling"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Customer",
              "displayName": "Customer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI Response",
              "displayName": "AI Response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        672,
        -96
      ],
      "id": "372a820e-06ec-4c6f-b9a3-a872be98224d",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qmUAduKiTgRbXosP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1B0rk7CMV68Rd2Y8KgHEMBaFMyQh7dzV6V7LqsNOylvE",
          "mode": "list",
          "cachedResultName": "AI Support Agent Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1B0rk7CMV68Rd2Y8KgHEMBaFMyQh7dzV6V7LqsNOylvE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1B0rk7CMV68Rd2Y8KgHEMBaFMyQh7dzV6V7LqsNOylvE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now }}",
            "Type": "Normal",
            "Customer": "={{ $('Webhook').item.json.body.From }}",
            "Message": "={{ $('Webhook').item.json.body.Body }}",
            "AI Response": "={{ $('HTTP Request').item.json.candidates[0].content.parts[0].text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Customer",
              "displayName": "Customer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI Response",
              "displayName": "AI Response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        896,
        96
      ],
      "id": "1f6b5883-b9ee-4de8-8427-16484cf9c267",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qmUAduKiTgRbXosP",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6a86c6e8-76fc-4e78-bebe-c68e45b19b20",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6e48c2ac2e73de7edc978e08e8b137adf589ed9f5cfd002a6be4572196f59fd1"
  },
  "id": "y0Sa5N8xNybug65R",
  "tags": []
}